
@import '../../../../static/styles/constants.scss';

$viewPoint: 64px;

.NavBar {
    position: fixed;
    z-index: 999;

    display: flex;

    top: 0;
    left: 0;

    height: $viewPoint;
    width: 100%;

    i {
        color: white;
    }

    &-logo {
        position: absolute;
        width: $viewPoint;
        height: $viewPoint;
        left: 8px;
    }

    &-links {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
    }

    &-searchBar {
        width: $viewPoint;
        height: $viewPoint;
        overflow: visible;
        position: absolute;
        right: 8px;
    }

    .NavLinks {
        position: absolute;
        width: min-content;
        height: min-content;
    
        padding: 0;
        margin: 0;
        
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
    
        &-item {
            display: inline;

            .NavLink {
                display: inline-block;
                padding: 0px 12px;
                opacity: 0.85;
            
                &-selected {
                    opacity: 1;
                    color: nth($accentColors, 2);
                }
            }
        }

        .dropdown {
            display: inline-block;

            &-menu {
                display: none;
                position: absolute;

                &-bg {
                    position: absolute;
                    width: 100%; height: 100%;
                    z-index: -1;

                    .arrow-up {
                        margin-left: 20px;
                        margin-top: 11px;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid rgba(black,0.85);
                    }
                    .round-box {
                        width: 100%;
                        height: calc(100% - 20px);
                        background: rgba(black,0.85);
                        border-radius: 5px;
                        -webkit-backdrop-filter: blur(10px);
                        backdrop-filter: blur(10px);
                    }
                    
                }

                &-items {
                    padding: 12px;
                    padding-top: 26px;
                }

                &-item {
                    display: block;
                }
            }

            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }
        }
    }

    .NavLogo {

        width: min-content;
        height: min-content;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}



@media only screen and (max-width: 600px) {
    .NavBar {
        &-links {
            display: none;
        }
    }
}