@import '../../../static/styles/constants.scss';

.Home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #222222, $alpha: 0.5)
}

.HomePlx {
    display: flex;
    
}

.Layer {

    &-bg {

    }
    
    &-each{
        display: inline-flex;
    }

    &-content {
        padding: 102px;
        height: 100vh;
        width: 100vw;
    }

    &-container {
        /*background-color: #22222281;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;*/
    }
}