@import '../../../static/styles/constants.scss';

.Home {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #222222, $alpha: 0.5);

    .parallax {
        //display: block;
        width: 100%;
    }
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@keyframes anti-spin { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}