// Colors
$accentColors: (rgb(204, 171, 219), 
                rgb(132, 116, 161), 
                rgb(110, 198, 202), 
                rgb(8, 151, 157), 
                rgb(5, 91, 92));
$themeColor: rgb(191, 0, 255);
$bgColor: rgb(48, 45, 49);
$textColor: rgb(247, 240, 233);
$focusColor: rgb(255, 255, 255);


