// Colors

$accentColors: (#9A79FE, 
                #4ED7FB, 
                #3E4353, 
                #B1B9C4, 
                #FFFFFF);

$themeColor: nth($accentColors,1);
$secondaryColor: nth($accentColors,2);
$bgColor: nth($accentColors,3);
$textColor: nth($accentColors,5);
$leftColor: nth($accentColors,4);
$focusColor: nth($accentColors,5);


