// buttons

@mixin roundButton {
    display: inline;
    cursor: pointer;
    font: {
        weight: lighter;
        size: 0.7em;
        family: 'Montserrat', sans-serif;
    }
    
    margin: 5px;
    padding: 8px 16px;
    border: { 
        radius: 1.5em;
        width: 1px;
        color: rgba(255, 255, 255, 0.55);
        style: solid;
    }

    box: {
        shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    }
}

.roundButton {
    @include roundButton;
    
    &-filled {
        @include roundButton;
        background: rgb(255, 255, 255);
        color: rgb(22,22,22);
    }
    &-outline {
        @include roundButton;
        background: rgba(0,0,0,0);
        color: rgb(255, 255, 255);
        transition: all 0.3s ease-out;

        &:hover {
            background: rgba(255,255,255,0.1); 
            transition: all 0.3s ease-in;
        }

        &:active {
            background-color: white;
            color: black;
        }

        &:checked {
            background-color: white;
            color: black;
            transition: none;
        }
    }
}

.scrollableContainer {
    scrollbar-width: thin;
    scrollbar-color: rgba(105, 105, 105, 0) rgba(0,0,0,0);

    &:hover {
        scrollbar-color: rgba(80, 80, 80, 0.25) rgba(0,0,0,0);
    }
}