
.PageContent0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: block;

    font: {
        family: 'Montserrat', sans-serif;
        size: 2.25rem;
        weight: lighter;
    }

    text: { 
        align: center;
        shadow: 0 0 18px rgba(0, 0, 0, 0.75);
    }

    span {
        display: block;
    }
}

.Button {

    &-LearnMore {
        display: inline;
        color: white;
    }

    &-About {
        display: inline;
        background-color: white;
        color: rgb(22, 22, 22);
    }
}

.ScrollDown {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%,0%);
    cursor: pointer;

    display: block;

    text: {
        transform: capitalize;
        align: center;
        shadow: 0 0 8px  black;
    }
    font-weight: normal;

    i {
        position: relative;
    }

    span {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .PageContent0 {
        font: {
            size: 1.5rem;
        }
    }
    .Button {
        &-LearnMore {
            display: grid;
        }
        &-About {
            display: grid;
        }
    }
}
