.Home-descPage {
    
    &-content {
        max-width: 14em;

        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        
        display: block;
        padding: {
            left: 0.5rem;
        }

        span {
            margin: {
                top: 1rem;
                bottom: 1rem;
            }
            font: {
                size: 0.85rem;
                weight: lighter;
                family: 'Bitter', sans-serif;
            }
            color: rgba(255, 255, 255, 0.69);
        }

        font: {
            family: 'Bitter', sans-serif;
            size: 1.5rem;
            weight: bold;
        }

        text: { 
            align: left;
            shadow: 0 0 18px rgba(0, 0, 0, 0.75);
        }

        span {
            display: block;
        }
    }

    &-learnMoreButton {
        
    }

    &-aboutButton {
        
    }

    &-scrollDownButton {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translate(-50%,0%);
        cursor: pointer;
        display: block;

        text: {
            transform: capitalize;
            align: center;
            shadow: 0 0 8px  black;
        }

        font-weight: normal;

        i {
            position: relative;
        }

        span {
            display: block;
        }
    }
}

@media only screen and (max-width: 600px) {

    .Home-descPage {

        &-content {
            font: {
                size: 1.5rem;
            }
            span {
                font: {
                    size: 1rem;
                }
            }
        }

        &-learnMoreButton {
            display: grid;
        }

        &-aboutButton {
            display: grid;
        }
    }
}
