.Home-recentPage {
    &-title {
        text-align: center;
        margin: 122px 0 24px 0;
        font-size: 26px;
        font-weight: bold;
        text-shadow: 0 0 24px rgba(0, 0, 0, 0.65);
        //some: linear-gradient(rgba(0, 0, 0, 0),rgb(91, 89, 116),rgb(102, 98, 126),rgb(54, 101, 104),rgb(66, 131, 136),rgb(83, 174, 179))
    }
    &-seeMoreButton {
        display: block;
        position: absolute;
        right: 45px;
        bottom: 25px;
    }
}