@import '../static/styles/constants.scss';

.App {
  position: relative;

  width: 100vw;
  height: 100vh;

  max-width: 100vw;
  max-height: 100vh;

  overflow-x: hidden;
  overflow-y: auto; 

  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1em;

  background: { color: $bgColor; }
  color: $textColor;
}
