
@mixin search-bar {
    width: max-content;
    display: flex;
    position: relative;
}

.SearchBar {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

    .SearchBar-container {
        position: absolute;
        height: 30%;
        padding: 0.5rem;
        right: 5px;
        top: 50%;
        transform: translate(0,-50%);
        border-radius: 1.5rem;
        overflow: hidden;
        
        transition: all 1s ease;
        display: block;

        &:hover {
            background-color: rgba(255, 255, 255, 0.25);
        }

        i, button {
            display: inline;
            position: relative;
            margin: 2px 3px;
            cursor: pointer;
            background: transparent;
            border: none;
            color: white;
            font-size: 1rem;
            padding: 0;
        }

        input {
            background: transparent;
            border: none;
            position: relative;
            display: block;
            color: white;
            margin-left: 10px;
            font-family: 'Maven Pro', sans-serif;
            text-transform: capitalize;
        }

        .expand {
            @include search-bar();
        }
    
        .collapse {
            @include search-bar();
        }
    }
}
