.People {
    .desc-page {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        font-family: 'Lexend Giga', sans-serif;
        font-size: 3em;
        font-weight: bolder;
        cursor: pointer;

        background-image: linear-gradient(to right,  transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white,transparent,white, transparent,white, transparent,white, transparent,white, transparent,white, transparent, white, transparent, white, transparent, white);
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.55)
    }
}